<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>🏏{{.Title}} - Home</title>
  <link rel="stylesheet" href="/static/css/styles.css">
</head>
<body>
  <div class="hero">
    <div class="container">
      <h1>Welcome To {{.Title}}</h1>
      <p>Book and manage grounds with ease.</p>
      <div class="buttons">
        <a href="/login" class="btn">Login</a>
        <a href="/register" class="btn">Register</a>
        <a href="/admin" class="btn">Admin Login</a>
      </div>
    </div>
  </div>
</body>
</html>
